.banner {
  background-image: url("../../../public/banner4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContent {
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  justify-content: space-around;
}

.tagline {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  text-align: center;
}

.name {
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 15px;
}

.description {
  font-family: "Montserrat";
  color: darkgray;
  text-transform: capitalize;
}
