.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}

.coinImage {
  height: 80px;
  margin-bottom: 10px;
}

.symbol {
  font-size: 22px;
  font-weight: 500;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
  color: white;
}

.circularProgress {
  color: gold;
  align-self: center;
}
